html{
   background-color: rgba(198, 163, 121, 0.651);
   
}
::placeholder{
   font-size: calc(.7rem + .8vw);
}
.titulo{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
}
h1{
   display: flex;
   align-items: center;
text-align: center;
   height: 6vh;
    font-size: calc(1.5rem + 1vw);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* margin-top:1rem;
   padding: .5rem; */
   color:darkslategrey;

}
.info{
   background-color: rgba(113, 91, 64, 0.651);
   color: rgb(230, 250, 19);
   width: 100%;
   height: 3rem;
   margin: 0;
   border: 2px solid burlywood;
   font-size: calc(1.5rem + .8vw);
}

input{
   text-align: center;
   font-size: 1.5rem;
   display: flex;
   margin: .5rem 0;
   width: 90vw;
}
.letra-vida{
   display: flex;
   text-align: center;
   justify-content: space-evenly;
   margin: 1rem 0;
}
div .letra{
   width: 20vw;
   text-decoration: blink;
   cursor: pointer;
   font-size: 2.5rem;

}
div .vida{
   width: 20vw;
   outline: none;

}
div .puntos{
   width: 28vw;
   outline: none;
}

div .formato-input{
   height: 3.5rem;
   border-radius: 1rem;
   box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.4);
   background-color: rgba(198, 163, 121, 0.651);
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   border: 1px solid black;
   margin-top: 5px;
   padding-bottom: 5px;
}

.letraI{
   display: flex;
   align-items: center;
   font-size: calc(.5rem + 2vw);
   border: 1px solid black;
   border-radius: 1rem;
   width: 25vw;
   height: 10vh;
   background-color: rgb(157, 144, 97);
   padding:0 1rem;
   
}
.letra:hover{
   background-color: rgba(159, 149, 113, 0.5);
   
}
.letraIngresada{
   display: flex;
   justify-content: space-around;
}
.monitos{
   margin-bottom: 1rem;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-size: calc(1rem + 2vw);
   border: 1px solid black;
   border-radius: 1rem;
   width: 90vw;
   height: 10vh;
   background-color: rgb(157, 144, 97);
}
.errores{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20vw;
   height: 10.5vh;
   font-size: calc(1rem + 2vw);
   
}
.cajaInput{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0;
}

.hidden {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5em;
   font-weight: bold;
   margin:0 5px 5px 5px;
   width: 3vw;
   height: 2vh;
   text-align: center;
   border-bottom: 5px solid rgb(52, 51, 51);
   text-transform: uppercase;
}
footer{
   display: flex;
   justify-content: center;
}
canvas{
   width: 55vw;
   height: 45vh;
   background-color: bisque;
   border: 1px solid black;
   border-radius: 2rem;
   padding:1rem;
   box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);
}

.botones{
   flex-direction: column;
   display: flex;
   margin: .5rem .5rem;
}
.btnJuego{
   display: inline-block;
   font-size: calc(.6rem + .8vw);
   width: 37vw;
   height: 2.5rem;
   margin: .5rem 0;
   border: 1px solid white;

   background-color:rgb(162, 121, 17);
   color: white;
   border-radius: .6rem;
   box-shadow: -5px 0px 15px 3px rgba(0, 0, 0, 0.4);
}
.btnJuego:hover{
   font-size: calc(.8rem + .8vw);
   background-color:rgba(162, 121, 17,.5);
   color: bisque;

   
}
.labelAdd{
   font-size: calc(.5rem + .6vw);
   font-family: 'Courier New', Courier, monospace;
   text-align: center;
}


.palabraAdd{
   width: 18vw;
   height: 4.5vh;
   border-radius: .5rem;
   font-size: calc(.8rem + .8vw);
   border: 1px solid black;
   margin-right: .5rem;
   
}
.btnpalabraAdd{
   width: 16vw;
   height: 5vh;
   /* margin: 0; */
}
.cajaAddPalabra{
   display: flex;
   justify-content: center;
   align-items: center;
}

@keyframes pulso{
0%{
   transform: scale(1.2);
}
50%{
   transform: scale(.8);
}
100%{
   transform: scale(1.2);
}
}
.pulso{
   /* font-size: 1rem; */
   animation: pulso 1.1s linear infinite;
}