html{
   background-color: rgba(198, 163, 121, 0.651);
   
}
header{
   width: 100vw;
}
marquee{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 8vh;
   align-items: center;
   text-align: center;
   font-size: calc(.8rem + 1vw);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin:0 25vw;
   color:darkslategrey;
}
marquee.lista{
   font-size: calc(.7rem + 1vw);
   color: brown;
   margin:0 8vw;
}
.info{
   background-color: rgba(113, 91, 64, 0.651);
   color: rgb(230, 250, 19);
   width: 100%;
   height: 4rem;
   margin: 0;
   border: 2px solid burlywood;
   font-size: calc(1.5rem + .8vw);
}

input{
   text-align: center;
   font-size: 1.5rem;
   display: flex;
   margin: .5rem 0;
   width: 90vw;
}
.letra-vida{
   display: flex;
   text-align: center;
   justify-content: space-evenly;
   margin: 1rem 0;
}
div .letra{
   width: 40vw;
   text-decoration: blink;
   cursor: pointer;
   font-size: 3rem;

}
div .vida{
   width: 10vw;
   outline: none;

}
div .puntos{
   width: 28vw;
   outline: none;
}

div .formato-input{
   height: 4rem;
   border-radius: 1rem;
   box-shadow: 8px 8px 10px 3px rgba(0, 0, 0, 0.4);
   background-color: rgba(198, 163, 121, 0.651);
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
   border: 1px solid black;
   margin-top: 5px;
}

.letraI{
   display: flex;
   align-items: center;
   font-size: calc(.5rem + 2vw);
   border: 1px solid black;
   border-radius: 1rem;
   width: 25vw;
   height: 10vh;
   background-color: rgb(157, 144, 97);
   padding:0 1rem;
   
}
.letra:hover{
   background-color: rgba(159, 149, 113, 0.5);
   
}
.letraIngresada{
   display: flex;
   justify-content: space-around;
}
.monitos{
   margin-bottom: 1rem;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   font-size: calc(1rem + 2vw);
   border: 1px solid black;
   border-radius: 1rem;
   width: 90vw;
   height: 10vh;
   background-color: rgb(157, 144, 97);
}
.errores{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20vw;
   height: 6rem;
   font-size: calc(1rem + 2vw);
   
}
.hidden {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.5em;
   font-weight: bold;
   margin:0 5px 5px 5px;
   width: 3vw;
   height: 2vh;
   text-align: center;
   border-bottom: 5px solid rgb(52, 51, 51);
   text-transform: uppercase;
}
footer{
   display: flex;
   justify-content: center;
}
canvas{
   width: 30vw;
   height: auto;
   background-color: bisque;
   border: 1px solid black;
   border-radius: 2rem;
   padding:1rem;
   box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.4);

}

.botones{
   flex-direction: column;
   display: flex;
   margin: 2rem;
}
.btnJuego{
   display: inline-block;
   font-size: calc(.6rem + .8vw);
   width: 25vw;
   height: 2.5rem;
   margin: 1rem;
   border: 1px solid white;

   background-color:rgb(162, 121, 17);
   color: white;
   border-radius: .6rem;
   box-shadow: -5px 0px 15px 3px rgba(0, 0, 0, 0.4);
}
.btnJuego:hover{
   font-size: calc(.7rem + .8vw);
   background-color:rgba(162, 121, 17,.5);
   color: bisque;

   
}