html {
   min-height: 100%;
   position: relative;
 }
.redes{
   display: flex;
   align-content: space-around;
   justify-content: center;   }
   img{
      width: calc(30px + .7vw);
   }
   .red{
      margin: .3rem .5rem;
   }

   .imgFooter:hover{
   width: 35px;
   border-radius: 50%;
   transition:width 0.3s ease ;
   }

   img#youtube:hover{
      background-color: #3b5998;
   }

   img#facebook:hover{
      background-color: #3b5998;
   }

   img#linkedin:hover{
      background-color:#0e76a8;
   }

   img#github:hover{
      background-color: #171515;
   }

   img#instagram:hover{
      background: #d6249f;
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)
   }

   img#twitter:hover{
      background-color: #00acee ;
   }
   
   span{
      width: 38px;
      height: 38px;
      }
span.redAlura{
   width:150px;
}
   #alura{
      height: 38px;
      width: 80px;
      
   }
   #copyright{
      font-family: 'Courier New', Courier, monospace;
      font-weight: lighter;
      font-size: calc(.5rem + 0.45vw);
      color:white;
      text-align: center;
      margin:0.3rem 0;

   }

   footer{
      flex-direction: column;
      background-color: black;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 11.5vh;
      color: white;
      padding: .5rem;
    }
