main input{
   cursor: pointer;
}
input{
   text-align: center;
   font-size: 2rem;
   display: flex;
   margin: 1rem;
}
button{
   display: inline-block;
   margin: 1rem;
   width: 15VW;
   height: 2rem;
   border-radius: .3rem;
}
.info{
   background-color: gray;
   color: yellow;
   border-radius: .5rem;
   height: 3rem;
}